{:version     "0.12"
 :description "Web application to traverse a decision-tree and expose the result"
 :url         "https://git.sr.ht/~bzg/choices"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}

 :deps
 {
  com.bhauman/figwheel-main             {:mvn/version "0.2.18"}
  com.taoensso/tempura                  {:mvn/version "1.5.4"}
  io.forward/yaml                       {:mvn/version "1.0.11"}
  markdown-to-hiccup/markdown-to-hiccup {:mvn/version "0.6.2"}
  metosin/reitit-frontend               {:mvn/version "0.7.1"}
  org.clojure/clojure                   {:mvn/version "1.11.4"}
  org.clojure/clojurescript             {:mvn/version "1.11.132"}
  org.flatland/ordered                  {:mvn/version "1.15.12"}
  reagent/reagent                       {:mvn/version "1.2.0"}
  cljsjs/react                          {:mvn/version "18.2.0-1"}
  cljsjs/react-dom                      {:mvn/version "18.2.0-1"}
  reagent-utils/reagent-utils           {:mvn/version "0.3.8"}
  }

 :paths ["src" "src/clj" "src/cljs" "resources"]

 :aliases
 {:jar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
        :main-opts  ["-m" "hf.depstar.uberjar" "choices.jar"
                     "-C" "-m" "choices.server"]}

  :fig {:main-opts   ["-m" "figwheel.main" "-b" "dev" "-r"]
        :extra-paths ["src/cljs"]}

  :js {:main-opts   ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]
       :extra-paths ["src/cljs"]}

  :set {:exec-fn   choices.macros/set-theme
        :exec-args {:theme "bulma"}}

  :test {:extra-paths ["test"]
         :extra-deps  {com.cognitect/test-runner
                       {:git/url "https://github.com/cognitect-labs/test-runner.git"
                        :sha     "9d36f36ff541dac680a05010e4348c744333f191"}}
         :main-opts   ["-m" "cognitect.test-runner"
                       "-d" "test" "-n" "choices.test"]}}}
