{
 :box               "box"
 :button            "button"
 :column            "column"
 :columns           "columns"
 :footer            "footer"
 :has-text-centered "has-text-centered"
 :hero-body         "hero-body"
 :image             "image"
 :is-12             "is-12"
 :is-active         "is-active"
 :is-info           "is-info"
 :is-large          "is-large"
 :is-fullwidth      "is-fullwidth"
 :progress          "progress"
 :is-size-3         "is-size-3"
 :is-success        "is-success"
 :is-warning        "is-warning"
 :media-left        "media-left"
 :modal             "modal"
 :modal-background  "modal-background"
 :modal-close       "modal-close"
 :modal-content     "modal-content"
 :notification      "notification"
 :subtitle          "subtitle"
 :title             "title"
 }
