{
 :button            "button"
 :column            "column"
 :columns           "columns"
 :container         "container"
 :footer            "footer"
 :has-text-centered "has-text-centered"
 :hero-body         "hero-body"
 :is-fullwidth      "is-fullwidth"
 :is-info           "is-info"
 :is-size-3         "is-size-3"
 :is-success        "is-success"
 :is-warning        "is-warning"
 :notification      "notification"
 :progress          "progress"
 :subtitle          "subtitle"
 :title             "title"
 }
